name: Deploy to Azure Container Apps

on:
  push:
    branches: [ "main" ] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Este é o passo que está falhando no seu log
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/ca-fiap-postech:${{ github.sha }} .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/ca-fiap-postech:${{ github.sha }}

      - name: Deploy to Azure Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          acrName: ${{ secrets.ACR_NAME }} # Nome simples do ACR (ex: myregistry)
          containerAppName: ca-fiap-postech
          resourceGroup: rg-fiap-postech
          imageToDeploy: ${{ secrets.ACR_LOGIN_SERVER }}/ca-fiap-postech:${{ github.sha }}
